<noscript>
  <meta http-equiv="refresh" content="1; url=/app/host/{{objectid session.iD}}?sessid={{sessid}}">
</noscript>
<header>
  <h1>Answer now</h1>
  <h2>{{question.title}}</h2>
</header>
<main>
  <p>{{amtAns}} of {{len session.participants}} participants answered</p>
</main>