<header>
  {{#if last}}
  <h1>Last question results</h1>
  {{else}}
  <h1>Question results</h1>
  {{/if}}
  <h2>{{question.title}}</h2>
</header>
<main>
  {{#each question.answers}}
  {{> partials/answer-result}}
  {{/each}}
  {{#if last}}
  <a class="button large" href="/app/host/next?sessid={{sessid}}">Finish quiz</a>
  {{else}}
  <a class="button large" href="/app/host/next?sessid={{sessid}}">Next question</a>
  {{/if}}
</main>