<label class="result">
  <span style="--size: {{percentDiff (len this.participants) (len session.participants)}}">
    {{this.title}}
    <span>
      {{len this.participants}}
    </span>
  </span>
  <meter class="meter" max="{{len session.participants}}" value="{{len this.participants}}">
    {{len this.participants}} people chose {{this.title}}
  </meter>
</label>