<label class="result">
  <span>
    {{this.title}}: {{len this.participants}}
  </span>
  <meter max="{{len session.participants}}" value="{{len this.participants}}">
    {{len this.participants}} people chose {{this.title}}
  </meter>
</label>