<label>
  {{this.title}}: {{len this.participants}}
  <meter max="{{len session.participants}}" value="{{len this.participants}}">
    {{len this.participants}} people chose {{this.title}}
  </meter>
</label>