<header>
  <a href="/app/quiz/{{objectid session.iD}}?sessid={{sessid}}">← Quiz</a>
  <h1>Add question to {{session.name}}</h1>
</header>

<main>
  <form action="/app/quiz/{{objectid session.iD}}/question/create" method="POST">
    <input type="hidden" name="sessid" value="{{sessid}}">
    <label>
      Title
      <input type="text" name="title">
    </label>
    <button>Save</button>
  </form>
</main>