{{#unless answered}}
<noscript>
  <meta http-equiv="refresh"
    content="{{session.questionTimer}}; url=/app/join?session={{session.code}}&sessid={{sessid}}">
</noscript>
<header>
  <h1>Answer now</h1>
  {{#if (nonZero session.questionTimer)}}
  <p>{{session.questionTimer}} seconds to answer</p>
  {{/if}}
  <h2>{{question.title}}</h2>
</header>
<main>
  <form action="/app/join" method="POST">
    <input type="hidden" name="sessid" value="{{sessid}}">
    <fieldset>
      <legend>Possible answers</legend>
      {{#each question.answers as |answer|}}
      <input type="radio" name="answer" value="{{objectid answer.iD}}" id="{{answer.title}}">
      <label for="{{answer.title}}">
        {{answer.title}}
      </label>
      {{/each}}
    </fieldset>
    <input type="hidden" name="userid" value="{{objectid user.iD}}">
    <button class="large">Send in answer</button>
  </form>
  {{else}}
  <noscript>
    <meta http-equiv="refresh" content="2; url=/app/join?session={{session.code}}&sessid={{sessid}}">
  </noscript>
  <header>
    <h1>Waiting</h1>
    <h2>{{question.title}}</h2>
  </header>
  <main>
    <p>Your answer was: {{answer.title}}</p>
    <p>Waiting for results to come in...</p>
  </main>
</main>
{{/unless}}