<meta http-equiv="refresh" content="2; url=/app/join?session={{session.code}}&sessid={{sessid}}">
<h1>{{session.name}}</h1>

<p>Waiting for {{user.username}} to start the session</p>

<a href="/app/join?session={{session.code}}">Refresh status</a>